
#cloud-config

docker:
  flags:
    - --insecure-registry 10.0.0.0/8
    - --insecure-registry 172.16.0.0/12
    - --insecure-registry 192.168.0.0/16
    - --registry-mirror http://registry-mirror.kube-system.svc:5000/

systemd:
  units:
    - name: ip6tables-restore.service
      enable: true
      contents: |
        [Unit]
        Description=Restore ip6tables firewall rules
        # if both are queued for some reason, don't store before restoring :)
        Before=ip6tables-store.service
        # sounds reasonable to have firewall up before any of the services go up
        Before=network-pre.target
        Wants=network-pre.target

        [Service]
        Type=oneshot
        ExecStart=/sbin/ip6tables-restore -w -- /var/lib/ip6tables/rules-save

        [Install]
        WantedBy=basic.target

storage:
  filesystems:
    - name: "OEM"
      mount:
        device: "/dev/disk/by-label/OEM"
        format: "ext4"
  files:
    # this is only active after the first reboot
    - filesystem: "root"
      path:       "/etc/hostname"
      mode:       0644
      contents:
        inline: {{ inventory_hostname }}
    # this is only active after the first reboot
    - filesystem: "OEM"
      path:       "/grub.cfg" # "/usr/share/oem/grub.cfg"
      mode:       0644
      append: true
      contents:
        inline: |
          
    # remove with update to 1.15 https://github.com/kubernetes/kubernetes/pull/74840
    # hotfix for https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/
    - path: /etc/modules-load.d/nf.conf
      filesystem: root
      mode: 0644
      contents:
        inline: |
          nf_conntrack
    - path: /etc/sysctl.d/nf.conf
      filesystem: root
      mode: 0644
      contents:
        inline: |
          net.netfilter.nf_conntrack_tcp_be_liberal=1
    - filesystem: "root"
      path: "/etc/sysctl.d/20-strict-kernel.conf"
      mode:       0644
      contents:
        inline: |
          vm.overcommit_memory=1
          kernel.panic=10
          kernel.panic_on_oops=1
    - filesystem: "root"
      path: "/etc/systemd/network/static.network"
      mode:       0644
      contents:
        inline: |
          [Match]
          Name={{ network.interface }}
          [Network]
          Address={{ network.ipv6 }}
          Gateway={{ network.gateway }}
          Gateway=fe80::1
          DNS={{ dns_servers }}
          FallbackDNS=1.1.1.1 9.9.9.10 8.8.8.8
          VLAN={{ network.interface }}.{{ network.vlan }}
          [Address]
          Address={{ ansible_host }}
          Peer={{ network.gateway }}/32
    - filesystem: "root"
      path: "/etc/systemd/network/{{ network.interface }}.{{ network.vlan }}.netdev"
      mode: 0644
      contents:
        inline: |
          [NetDev]
          Name={{ network.interface }}.{{ network.vlan }}
          Kind=vlan
          MTUBytes=1400
          [VLAN]
          Id={{ network.vlan }}
    - filesystem: "root"
      path: "/etc/systemd/network/{{ network.interface }}.{{ network.vlan }}.network"
      mode: 0644
      contents:
        inline: |
          [Match]
          Name={{ network.interface }}.{{ network.vlan }}
          [Network]
          Description="VLAN {{ network.vlan }}"
          Address={{ network.internalIP }}/24
    - filesystem: "root"
      path: "/var/lib/ip6tables/rules-save"
      mode: 0644
      contents:
        inline: |
          *filter
          :INPUT DROP [0:0]
          :FORWARD DROP [0:0]
          :OUTPUT ACCEPT [0:0]
          -A INPUT -i lo -j ACCEPT
          -A INPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,ACK SYN -j DROP
          -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
          -A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
          -A INPUT -p tcp -m state --state NEW -m tcp --dport 80 -j ACCEPT
          -A INPUT -p tcp -m state --state NEW -m tcp --dport 443 -j ACCEPT
          -A INPUT -p ipv6-icmp -j ACCEPT
          COMMIT
          # comment
    - filesystem: "root"
      path: "/etc/systemd/timesyncd.conf"
      mode: 0644
      contents:
        inline: |
          [Time]
          NTP={{ ntp_servers }}

passwd:
  users:
    - name: core
      ssh_authorized_keys:
      {% for ssh_authorized_key in ssh_authorized_keys %}
        - {{ ssh_authorized_key }}
      {% endfor %}

update:
  group:  "stable"
  server: "https://public.update.core-os.net/v1/update/"
locksmith:
  reboot_strategy: "off"
